.btn-select-image {
  position: relative;
  display: block;
  overflow: hidden;
  text-align: center;
  background: #f8f9fb;
  border: 2px dashed #e4e5e7;
  border-radius: 3px;
  cursor: pointer;
}
.btn-select-image p {
  color: #9197a7;
}

.btn-select-image i {
  color: #9197a7;
  font-size: 50px;
}
.btn-select-image button {
  background-color: #e4e5e7;
}

/* Quill customization */
.ql-container {
  min-height: 102px !important;
}
.CircularProgressbar .CircularProgressbar-path {
  stroke: rgba(10, 179, 156, 0.85) !important;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: rgba(10, 179, 156, 0.85) !important;
}

.CircularProgressbar {
  width: 97px !important;
  height: 65.5px !important;
}

/* chat-element */
.rce-container-mbox {
  padding: 7px 0 7px 0px !important;
}
.rce-mbox-photo--img img {
  height: 158px;
  width: 208px;
  object-fit: contain;
  object-position: center;
}
.rce-mbox-file > button {
  background-color: transparent !important ;
}

/*  */

div:where(.swal2-container) div:where(.swal2-popup) {
  font-size: 0.8rem !important;
}
.css-1u9des2-indicatorSeparator {
  display: none !important;
}
/*  */
.css-4jnixx-MuiStack-root,
.css-160unip {
  padding: 0 !important;
  margin: 0 !important;
}
/* .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  height: 5px !important;
  padding: 16.5px 21px !important;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input:focus {
  outline: none !important;
  border: 0 !important;
} */

.filepond--drop-label label {
  font-size: 10px !important;
}

.table-bordered .td-table {
  /* border-width: 0 !important; */
  width: 0 !important;
  border-top: 0 !important;
}
.upload-image {
  aspect-ratio: 3/2;
  object-fit: contain;
}
.event-banner {
  width: 100%;
  object-fit: cover;
  height: 150px;
}
/* #event-banner:hover {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.event-banner:hover > .hidden {
  visibility: visible;
  pointer-events: cursor;
} */
.event-banner-edit {
  position: absolute;
  right: 21px;
  top: 37px;
  cursor: pointer;
}

/* table-image */
.table-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.css-11a8txn-MuiStack-root {
  width: 100% !important;
}

.table > :not(caption) > * > * {
  padding: 0.5rem 0.2rem !important;
  text-align: center !important;
  font-size: 12px !important;
}

/* .react-clndr .popover {
  position: absolute;
  z-index: 99999999999999999999;
  right: 0;
}
.react-clndr .cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px";
} */
.ri-calendar-fill {
  right: 5px;
  top: 4px;
  position: absolute;
  cursor: pointer;
}
.dropdown-card {
  margin: 0 !important;
}
.dropdown-menu {
  padding: 0 !important;
}
